<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <header class="app-header">
        <div class="container d-flex align-items-center justify-content-between">

            <a href="{{ path('app_home') }}" class="brand">
                Gestion Sports
            </a>

            <nav class="nav-links">
                <a href="{{ path('app_home') }}"
                   class="{{ app.request.attributes.get('_route') starts with 'app_home' ? 'active' : '' }}">
                    Accueil
                </a>

                <a href="{{ path('app_sport_index') }}"
                   class="{{ app.request.attributes.get('_route') starts with 'app_sport' ? 'active' : '' }}">
                    Sports
                </a>

                <a href="{{ path('app_championnat_index') }}"
                   class="{{ app.request.attributes.get('_route') starts with 'app_championnat' ? 'active' : '' }}">
                    Championnats
                </a>

                <a href="{{ path('app_competition_index') }}"
                   class="{{ app.request.attributes.get('_route') starts with 'app_competition' ? 'active' : '' }}">
                    Compétitions
                </a>

                <a href="{{ path('app_epreuve_index') }}"
                   class="{{ app.request.attributes.get('_route') starts with 'app_epreuve' ? 'active' : '' }}">
                    Épreuves
                </a>

            </nav>

        </div>
    </header>


    {% block body %}{% endblock %}
    </body>
</html>
